# Importation du txt

In [ ]:
import pandas as pd

df = pd.read_csv('data/valeursfoncieres-2022.txt', delimiter='|')

pd.set_option('display.max_columns', 43)
df

# Pour vérifier les valeurs qui sont entièrement NaN ou pas

In [ ]:
nan_full = df['Nature culture speciale'].isna().all()

print(nan_full)

# Suppression des colonnes qui sont entièrement NaN

In [ ]:
df.dropna(axis=1, how='all', inplace=True)

# Changement de date en int

In [ ]:
df['Date mutation'] = pd.to_datetime(df['Date mutation'], format='%d/%m/%Y')
df['Date en int'] = df['Date mutation'].dt.year * 10000 + df['Date mutation'].dt.month * 100 + df['Date mutation'].dt.day

print(df[['Date mutation', 'Date en int']].head())

# Vérifier combien de valeurs sont NaN

In [ ]:
nan_counts = df.isna().sum()

nan_counts = nan_counts[nan_counts > 0]

print(nan_counts)

# Suppression des colonnes inutiles

In [ ]:
colonnes_inutiles = [
    '3eme lot', 'Surface Carrez du 3eme lot',
    '4eme lot', 'Surface Carrez du 4eme lot',
    '5eme lot', 'Surface Carrez du 5eme lot',
    'Nature culture', 'Nature culture speciale',
    'Code type local'
]
df = df.drop(columns=colonnes_inutiles, axis=1)